# Local .terraform directories (contains the provider plugins, backend configs, and module caches)
# Not nescessarily sensitive, but adds bloat.
.terraform/

# .tfstate files
# tfstate files can contain logs that could hold crendentials or sensitive information
# A team will need to share state files, but it must be done securely and not over git. (Lookup how to store state files depending on the provider)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
# Stores terraform variables. Might include sensitive information.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
